header{
    .header-top{
        @mixin heading-icon{
            height: 16px;
            width: 64px;
            // border: 1px solid black;
            margin-left: 10px;
        }
    
        width: 1111px;
        height: 163px;
        padding: 30px;
        .icon-left{
            float: left;
            @include heading-icon;
            .img-search{
                margin-left:15px; 
            }
        }
        .icon-right{
            clear: both;
            float: right;
            @include heading-icon;
            .img-like{
                right: 0;
                margin-left:10px;
            }
           
        }
        .caption{
            clear: both;
            margin-left: 30%; 
            //border:1px solid black;
            width: 182px;
            height: 43px;
            display: inline-block;
            p{
            text-align: center;
            font-family: Helvatica;
            text-transform: capitalize;
            font-size: 36px;
            letter-spacing: 5px;
            }
        }
    %nav-items {
        text-transform: uppercase;
        font-family: Helvatica;
        letter-spacing: 5.45px;
        text-decoration: none;
        font-size: 12px;
        list-style-type: none;
    }
        .navigation{
            //border: 1px solid black;
            width: 786px;
            height: 30px;
            
            .nav{
                text-align: center;
                .nav-item {
                    display: inline-block;
                    a{
                        @extend %nav-items;
                        color: #2B2B2B;
                        text-decoration: none;
                    }
                }
                .nav-item-home{
                    display: inline-block;
                    a{
                        @extend %nav-items;
                        color: #44C0FE;
                        text-decoration: line-through;
                    }
                }
                .nav-item-fashion {
                    display: inline-block;
                    a{
                        @extend %nav-items;
                        color: #E56767;
                    } 
                }
               
            }
        }
    }
        .header-bottom{
            background-color: #373333;
            width: 100%;
            height: 644px;
            display: inline-block;
    
            .oval{
                border-radius: 50%;
                background-color: #D8D8D8;
                width: 101px;
                height: 101px;
                position: absolute;
                top: 510px;
                left: 140px;    
            }
            .text-top{
                position: relative;
                // border: 1px solid black;
                width: 500px;
                height: 160px;
                display: inline-block;
                top: 330px;
                left: 208px;
                .caption{
                    width: 94px;
                    height: 33px;
                    position: relative;
                    background-color: #FFFFFF;
                    p{
                        text-transform: uppercase;
                        font-size: 11px;
                        color: #000000;
                        letter-spacing: 5px;
                        text-align: center;
                        line-height: 35px;
                    } 
                }
                p{
                    text-transform: capitalize;
                    font-size: 30px;
                    color: #FFFFFF;
                    font-family: Arial, Helvetica, sans-serif;
                }
                .text-bottom{
                    width: 220px;
                    height: 15px;
                   p{
                         color: #FFFFFF;
                        font-size: 12px;
                        font-family: monaco;
                        letter-spacing: 1px;
                   }
                }
            }
            .bottom{
                width: 750px;
                height: 150px;
                display: inline-block;
                position: relative;
                top: 100px;
                %rectangles{
                    position: relative;
                    width: 180px;
                    height: 150px;
                    border-radius: 3px;
                    display: inline-block;
                    margin: 0 10px;
                    
                }
                .rectangles1{
                    @extend %rectangles;
                    background-color: #F6F6F6;
                    width: 100px;
                    margin-left: 0;
                    float: left;
                }
                .rectangles2{
                    @extend %rectangles;
                    background-color: #D7D6D6;
                    float: left;
                    opacity: 36%;
                img{
                    height: 15px;
                    width: 211px;
                    margin-top:65px;
                    margin-left: auto;
                    }
                }
               .rectangles3 ,.rectangles4{
                    @extend %rectangles;
                    background-color: #F6F6F6;
                }
            }
            .bottom-aside{ 
                width: 300px;
                height: 550px;
                background-color: #FFFFFF;
                margin-left: 2%; 
                display: inline-block;
                .text-aside{
                    margin: 7%;
                    width: 220px;
                    height: 500px;
                    text-align: center;
                    // border: 1px solid black;
                    .oval-aside{
                        border-radius: 50%;
                        background-color: #D8D8D8;
                        border: 1px solid #979797;
                        width: 140px;
                        height: 140px;
                        margin-left: 30px;
                    }
                    .caption{
                        width: 234px;
                        height: 66px;
                        top: 10px;
                        p{
                            text-transform: capitalize;
                            color: #000000;
                            font-size: 28px;
                            text-align: center;
                        }
                    }
                    .text-name{
                        p{
                            width: 172px;
                            height: 15px;
                            margin-left:40px;
                        }
                    }
                    .content{
                        width: 240px;
                        height: 174px;
                        color: #2B2B2B;
                        font-size: 10px;
                        margin-left:5px;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .sign{
                        width: 170px;
                        height: 45px;
                        margin-left: 30px;
                    }
                }
            }
        }
    }
    %divides{
        margin-top: 100px;
        width: 100%;
        height: 73px;
        
        .divide-p1{
            width: 90px;
            height: 28px;
            float: left;
            text-transform: capitalize;
            font-family: monaco;
        }
        hr{
            display: block;
            border-width: 1px;
            margin-top: 0.5em;
            margin-bottom: -1;
            margin-left: auto;
            margin-right: 110px;
            border-style: inset;
        }
        .divide-p2{
            width: 90px;
            height: 13px;
            float: right;
            text-transform: capitalize;
            font-family: monaco;
        }
    }
    .divide-top{
        @extend %divides;
    }
    
    section {
        .page1-top{
            width: 100%;
            height: 532px;
        .page1-top-left{
            width: 380px;
            height: 532px;
            position: absolute;
        p{
            width: 35px;
            height: 14px;
             font-family: monaco;
            font-size: 14px;
            text-transform: capitalize;
        } 
        .left-text{
            width: 319px;
            height: 66px;
            p{
                width: 319px;
                color: #000000;
                font-size: 24px;
                font-family: monaco;
                text-transform: capitalize;
            }
        }
            .text-bottom{
                margin-top: 5px;
                width: 234px;
                height: 15px;
                p{
                    width: 234px;
                    font-family: helvatica;
                    font-size: 14px;
                    text-transform: capitalize;
                     background-color: #F7F6F6;
                }
            }
        
        .left{
           margin-top: 30px;
            width: 380px;
            height: 362px;
            background-color: #686868;
            border-radius:3px; 
        }
        }
    
        .page1-top-right{
            position: relative;
            //border: 1px solid black;
            width: 665px;
            height: 532px;
           left: 473px;
           .right{
               width: 665px;
               height: 362px;
               background-color: #686868;
    
           }
           p{
               margin-top: 10px;
               width: 50px;
               height: 15px;
               text-transform: capitalize;
               font-family: monaco;
               font-size: 14px;
                background-color: #F7F6F6;
           }
           .link{
                width: 390px;
                height: 60px;
           }
           a{
               font-family: Monaco;
                color: #44C0FE;
                font-size: 20px;
                text-transform: capitalize;
                word-break: 3px;
                text-decoration: underline;
           }
           .text{
               margin-top: 5px;
                p{
                width: 120px;
                height: 30px;
                text-transform: capitalize;
               font-family: monaco;
               font-size: 11px;
               background-color: #F7F6F6;
                }
           }
           
        }
        }
    
        .page1-body{
            .body-left{
                position: absolute;
                margin-top: 40px;
                width: 239px;
                height: 220px;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 30px;
                color: #000000;
                text-transform: capitalize;
                margin-left: 120px;
            }
            .body-right{
                position: relative;
                left: 473px;
                width: 665px;
                height: 362px;
                background-color: #686868;
            }
        }
    .page1-bottom{
        margin-top: 30px;
        width: 100%;
        height: 532px;
    
        .page1-bottom-left{
            margin:5px; 
            height: 532px;
            width: 665px;
            .left{
                background-color: #686868;
                height: 362px;
            }
            .left-p1{
                margin-top: 20px;
                width: 94px;
                height: 25px;
                font-size: 14px;
                text-transform: capitalize;
                font-family: monaco;
            }
            .left-text{
                width: 566px;
                height: 66px;
                font-family: monaco;
                font-size: 24px;
                color: #000000;
                text-transform: capitalize;
            }
            .left-p2{
                margin-top: 20px;
                width: 236px;
                height: 15px;
                font-size: 14px;
                text-transform: capitalize;
                font-family: monaco;
            }
           
        }
        .page1-bottom-right{
            height: 532px;
            width: 480px;
            .right-p1{
                width: 123px;
                height: 33px;
                font-size: 14px;
                font-family: monaco;
                text-transform: capitalize;
               
            }
            .right-text{
                overflow: hidden;
                width: 319px;
                height: 66px;
                text-transform: capitalize;
                font-family: monaco;
                font-size: 24px;
                color: #000000;
            }
            .right-p2{
                width: 247px;
                height: 15px;
                margin-top: 10px;
                font-size: 14px;
                font-family: monaco;
                text-transform: capitalize;
            }
            .right{
                margin-top: 10px;
                width: 380px;
                height: 362px;
                background-color: #686868;
            }
        }
    }

    .divide-page1{
        @extend %divides;
        .divide-p2{
            text-decoration: underline;
        }
    }
    %text-font{
        text-transform: capitalize;
        font-family: monaco;
        color: #000000;
    }
    .page2{
        height: 399px;
        .page2-left,.page2-center ,.page2-right{
            margin: 10px;
            width: 349px;
            height: 399px;
            
            .caption{
                margin-top: 5px;
                width: 123px;
                height: 33px;
                background-color: #F7F6F6;
                p{ 
                    @extend %text-font;
                    font-size: 11px;  
                    letter-spacing: 5px;
                    line-height: 30px;

                }
            }
            .text{
                width: 319px;
                height: 66px;
                overflow: hidden;
                p{
                    @extend %text-font;
                    font-size: 24px;
                }
            }
            .bottom{
                margin: 10px 0;
                width: 247px;
                height: 15px;
                p{
                    @extend %text-font;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
            }
            .left, .center ,.right{
                width: 349px;
                height: 228px;
                background-color: #686868;
                border-radius: 0.3;
            }
        }
    }
    .page2-bottom{
        width: 243px;
        height: 24px;
        margin-left: 40%;
        margin-top: 3%;
        img{
            height: 24px;
            width: 106px;
                     
        }
      
    }
    .divide-page2{
        @extend %divides;
        margin: 30px 0;
    }

    .page3{
        height: 959px;
        width: 100%;
        margin: 10px;
        .page3-top{
            height: 532px;;
            .page3-left{
                margin-right: 15px;
                width: 380px;
                height: 532px;
                .p-left{
                    background-color: #686868;
                    width: 380px;
                    height: 362px;
                }
            }
            .page3-right{
                width: 665px;
                height: 532px;
                .p-right{
                    background-color: #686868;
                    width: 665px;
                    height: 362px;
                }
            }
            .caption{
                width: 121px;
                height: 33px;
                font-family: monaco;
                text-transform: capitalize;
                font-size: 11px;
                color: #000000;
                letter-spacing: 5px;
            }
            .text{
                height: 66px;
                @extend %text-font;
                font-size: 24px;
                overflow: hidden;
            }
            .bottom{
                @extend %text-font;
                letter-spacing: 1px;
                font-size: 12px;
                color: #000000;
            }
        }
       
        .page3-bottom{
            width: 100%;
            height: 362px;
            background-color: #686868;
            div.content{
                width: 670px;
                height: 201px;
                .oval{
                    margin-top: 130px;
                    margin-left: 30px;
                    float: left;
                    width: 101px;
                    height: 101;
                    border-radius: 50%;
                    background-color: #D8D8D8;
                    opacity: 100%;}
                .right{
                    margin-top: 80px;
                    float: left;
                    width: 539px;
                    height: 201px;
                    .caption{
                        margin-left: 30px;
                        width: 94px;
                        height: 30px;
                        background-color: #FFFFFF;
                        border-radius: 0.5%;
                        text-align: center;
                        @extend %text-font;
                    }
                    .text{
                        margin:30px;
                        width: 539px;
                        height: 80px;
                        overflow: hidden;
                        p{
                            text-transform: capitalize;
                            font-family: monaco;
                            font-size:24px;
                            color: #FFFFFF;
                        }

                    }
                    .bottom{
                        margin-left:30px; 
                        width: 214px;
                        height: 15px;
                        font-size: 12px;
                        font-family: monaco;
                        color: #FFFFFF;
                        @extend %text-font
                    }
                }

            }
        }
    }
    .divide-page3{
        margin: 5px 0;
        width: 100%;
        height: 73px;
        
        .divide-p1{
            width: 206px;
            height: 13px;
            float: left;
            text-transform: capitalize;
            font-family: monaco;
        }
        hr{
            width: 990px;
            margin-right: 0;
            display: block;
            border-style: inset;
        }
    }
}

footer{
    .footer-top{
        width: 100%;
        height: 227px;
        %divs{
            // margin-top: 20px;
            margin-right: 20px;
            width: 272px;
            height: 154px;
            background-color: #686868;
            float: left;
        }
        .div1,.div3,.div4{
            @extend %divs;
        }
        .div2{
            @extend %divs;
            background-color: #44C0FE;
            .question{
                margin-top: 60px;
                margin-left: 90px;
                width: 38px;
                height: 42px;
                border: 1px solid #FFFFFF;
                p{
                    margin-left: 3%;
                    font-size: 32px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-top: auto;
                    margin-bottom: 0;

                }
            }
        }
    }
    %nav-element {
        text-transform: uppercase;
        font-family: Helvatica;
        text-decoration: none;
        font-size: 12px;
        list-style-type: none;
    }
        .footer-bottom{
            // border: 1px solid black;
            width: 100%;
            height: 56px;
            
            .footer-nav{
                margin-top: 30px;
                .nav-item {
                    margin-right: 40px;
                    letter-spacing: 1px;
                    word-spacing: 20px;
                    display: inline-block;
                    a{
                        @extend %nav-element ;
                        color: #2B2B2B;
                        text-decoration: none;
                    }
                }
                .nav-item-help{
                    margin-right: 40px;
                    display: inline-block;
                    @extend %nav-element;
                    color: #44C0FE;
                }
                .nav-item-right{
                    margin-right: 10px;
                    @extend %nav-element;
                    float: right;
                }
              
            }
        }
}


        
            
    